{%- import "macros/svgs.jinja" as svg -%}

{%- set show_announcement = false %}
{%- macro announcement() %}
<div class="alert bg-info alert-dismissible fade show" style="color: #023d6b;" role="alert">
  <h4 class="alert-heading">       
    {{ svg.announcement_svg | safe }}
    <span class="align-middle">JUSUF / DEEP timeouts</span>
  </h4>
  We are currently experiencing timeout issues when starting or stopping Jupyter servers on JUSUF and DEEP. Our team is actively working on resolving the problem.
</div>
{%- endmacro %}
